# pixi environments
.pixi/*
!.pixi/config.toml

# cache
depth_of_coverage_cache/
main_report_cache/

# R stuff
.Rproj.user
plots.Rproj
.Rhistory

# System files
.DS_Store

# results
output/
*.html
*.rmarkdown

# vscode
.vscode/

# project-specific files
config/input_files_v1.csv
config/input_files_v2.csv
data/twist_myelom_run_IDs_v1.tsv
data/twist_myelom_run_IDs_v2.tsv