# pixi environments
.pixi/*
!.pixi/config.toml

# cache
depth_of_coverage_cache/
main_report_cache/

# R stuff
.Rproj.user
plots.Rproj
.Rhistory

# System files
.DS_Store

# results
results/
*.html

# vscode
.vscode/